@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Hanuman';
    src: url('../../public/fonts/Hanuman-Regular.ttf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../../public/fonts/static/HankenGrotesk-Regular.ttf') format('opentype');
    font-style: normal;
    font-weight: normal;
}


.HanumanFont {
    font-family: 'Hanuman';
}

* {
    /* font-family: Verdana; */
    /* font-family: Helvetica; */
    font-family: 'Hanken Grotesk';

}

::-webkit-scrollbar {
    width: 12px;
  }
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
  }


.cardContainer {
    background-color: aqua;
    width: 500px;
    height: 300px;
    justify-items: center;
}

.calcWidthOfSection {
    width: calc(100% - 500px);
}

.calcPageHeight {
    height: calc(100vh - 65px);
}

.sidebarHeight {
    height: calc(100vh - 180px);
}


.greenButton {
    background-color: #20AC58;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    outline: black 1px solid;
}

.greenButton:hover {
    filter: brightness(1.1);
    scale: 1.05;
    transition: 0.3s;
}

.whiteButton {
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    outline: black 1px solid;
}

.whiteButton:hover {
    filter: brightness(1.1);
    scale: 1.05;
    transition: 0.3s;
}

.multipleChoiceOption {
    background-color: #65327D;
    color: white;
    transition: 0.3s;
}

.multipleChoiceOption:hover {
    filter: brightness(1.1);
    scale: 1.05;
    transition: 0.3s;
    cursor: pointer;
}

.multipleChoiceSelectedOption {
    background-color: #3b3ff5;
    color: white;
    transition: 0.3s;
}

.multipleChoiceSelectedOption:hover {
    filter: brightness(1.1);
    scale: 1.05;
    transition: 0.3s;
    cursor: pointer;
}

/* Add this CSS to your styles */
@keyframes brainAnimation {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.15);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  .animate-brain {
    animation: brainAnimation 0.7s ease-in-out;
  }

  .TopicHover {
      transition: 0.3s;
    }
    
    .TopicHover:hover {
        background-color: #C47976;
        transition: 0.3s;
        color: white;
    }
  
  
  
  .fontWhite {
    color: #E1E1EA;
  }